APP_URL=https://admin.toolworkslab.com
SESSION_SECRET=GENERATE_A_RANDOM_SECRET_DO_NOT_USE_THIS_VALUE
AWS_ROLE_ARN=arn:aws:iam::444115534902:role/ModolougeVercelManager
AWS_REGION=eu-north-1
DATA_TABLE=modolouge-production
FILE_BUCKET=modolouge-444115534902-eu-north-1
JOB_QUEUE_URL=https://sqs.eu-north-1.amazonaws.com/444115534902/modolouge-jobs

SUPABASE_URL=https://YOUR_PROJECT.supabase.co
SUPABASE_PUBLISHABLE_KEY=YOUR_PUBLISHABLE_KEY
SUPABASE_SECRET_KEY=SERVER_ONLY_KEY
IP_HASH_SECRET=GENERATE_A_RANDOM_SECRET_DO_NOT_USE_THIS_VALUE
